AppBundle\Entity\Category:
    attributes:
        id:
            groups: ['category', 'parent', 'children', 'image']
        name:
            groups: ['category', 'parent', 'children', 'image']
        urlImage:
            groups: ['category', 'parent', 'children', 'image']
        childrens:
            groups: ['children']
        parent:
            groups: ['parent']
AppBundle\Entity\Category:
    attributes:
        id:
            groups: ['category', 'parent', 'children', 'image']
        name:
            groups: ['category', 'parent', 'children', 'image']
        urlImage:
            groups: ['category', 'parent', 'children', 'image']
        childrens:
            groups: ['children']
        parent:
            groups: ['parent']
AppBundle\Entity\Tag:
    attributes:
        id:
            groups: ['tag', 'image']
        name:
            groups: ['tag', 'image']
AppBundle\Entity\Image:
    attributes:
        id:
            groups: ['image']
        url:
            groups: ['image']
        date:
            groups: ['image']
        score:
            groups: ['image']
        description:
            groups: ['image']
        categories:
            groups: ['image']
        tags:
            groups: ['image']
AppBundle\Entity\User:
    attributes:
        id:
            groups: ['user']
        name:
            groups: ['user']
        email:
            groups: ['user']
        password:
            groups: ['user']
        hashValidation:
            groups: ['user']
        forgetPass:
            groups: ['user']
        dateCreation:
            groups: ['user']
        dateLastModification:
            groups: ['user']
        role:
            groups: ['user']
AppBundle\Entity\Role:
    attributes:
        id:
            groups: ['role', 'user']
        name:
            groups: ['role', 'user']
AppBundle\Entity\Settings:
    attributes:
        title:
            groups: ['settings']
        limitGallery:
            groups: ['settings']
        theme:
            groups: ['settings']
AppBundle\Entity\Theme:
    attributes:
        id:
            groups: ['settings']
        name:
            groups: ['settings']
        mainColor:
            groups: ['settings']
        mainDarkFontColor:
            groups: ['settings']
        bodyColor:
            groups: ['settings']
        bodyFontColor:
            groups: ['settings']
        sideBarColor:
            groups: ['settings']
        sideBarFontColor:
            groups: ['settings']
        linkColor:
            groups: ['settings']
        linkHoverColor:
            groups: ['settings']