AppBundle\Entity\Image:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: url
    properties:
        url:
            - NotBlank: ~
            - NotNull: ~
            - Type: string
        date:
            - Type: datetime
            - NotBlank: ~
        score:
            - Type: integer
            - NotBlank: ~
        description:
            - Type: string
AppBundle\Entity\Category:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
    properties:
        name:
            - NotBlank: ~
            - Type: string
        urlImage:
            - NotBlank: ~
            - Type: string
        parent:
            - Type: AppBundle\Entity\Category
AppBundle\Entity\Tag:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
    properties:
        name:
            - NotBlank: ~
            - Type: string
AppBundle\Entity\User:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: email
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: hashValidation
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: forgetPass
    properties:
        name:
            - NotBlank: ~
            - Type: string
        email:
            - NotBlank: ~
            - Email: ~
        password:
            - NotBlank: ~
            - Type: string
        hashValidation:
            - NotBlank: ~
            - Type: string
        forgetPass:
            - NotBlank: ~
            - Type: string
        dateCreation:
            - Type: datetime
            - NotBlank: ~
        dateLastModification:
            - Type: datetime
            - NotBlank: ~
        role:
            - Type: AppBundle\Entity\Role
AppBundle\Entity\Role:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
    properties:
        name:
            - NotBlank: ~
            - Type: string
AppBundle\Entity\Theme:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity: name
    properties:
        name:
            - NotBlank: ~
            - Type: string
        mainColor:
            - NotBlank: ~
            - Type: string
        mainDarkFontColor:
            - NotBlank: ~
            - Type: string
        bodyColor:
            - NotBlank: ~
            - Type: string
        bodyFontColor:
            - NotBlank: ~
            - Type: string
        sideBarColor:
            - NotBlank: ~
            - Type: string
        sideBarFontColor:
            - NotBlank: ~
            - Type: string
        linkColor:
            - NotBlank: ~
            - Type: string
        linkHoverColor:
            - NotBlank: ~
            - Type: string
AppBundle\Entity\Settings:
    constraints:
        - Symfony\Bridge\Doctrine\Validator\Constraints\UniqueEntity:
            fields: [id]
            message: 'Settings must be unique. You can update them.'
    properties:
        id:
            - EqualTo: 1
            - Type: string
        title:
            - NotBlank: ~
            - Type: string
        limitGallery:
            - NotBlank: ~
            - Type: integer
        theme:
            - Type: AppBundle\Entity\Theme